nav {
    position: relative;
    width: 60%;
    height: 100px;
    margin: 0;
    top: 0px;
    float:right;
    display: flex;
    justify-content: flex-end;
    a {
        position: relative;
        width: 100px;
        height: 32px;
        margin-left: 2px;
        text-align: center;
        padding-top: 12px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        color: white;
        background: rgb(255, 136, 0);
        background: linear-gradient(360deg, rgba(255, 136, 0, 1) 80%, rgba(255, 136, 0, 0.7595413165266106) 100%);
        &:before {
            border-top: 25px solid #ff8800;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            bottom: -25px;
            width: 0;
        }
        &:hover {
            transition: color 0.4s ease 0s;
            background-color: #f58a10;
            font-size: 15px;
            padding-top: 30px;
            height: 50px;
        }
        &.active {
            background: rgb(255, 136, 0);
            background: linear-gradient(360deg, rgba(255, 136, 0, 1) 80%, rgba(255, 136, 0, 0.7595413165266106) 100%);
            padding-top: 50px;
            text-shadow: 0px 2px 2px #b36309;
            height: 80px;
        }
    }

}


/* Desktop ate 1024px */
@media only all and (max-width: 1200px) {
    nav {
        height: 70px;
        a {
            width: 85px;
            font-size: 12px;
            &:before {
                border-top: 15px solid #ff8800;
                border-left: 42px solid transparent;
                border-right: 42px solid transparent;
                bottom: -15px;
            }
            &:hover {
                font-size: 12px;
                
            }
            &.active {
                font-size: 12px;
                padding-top: 30px;
                height: 60px;
            }
        }
    }
}


/* Mobile ate 768px */
@media only all and (max-device-width: 768px) {
    nav {
        a {
            height: 25px;
            padding: 4px 10px;
            font-family: 'Abel-Regular';
            font-size: 11px;

            &:before {
                border-top: 0px solid #ff8800;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                bottom: -15px;
            }
            &.active {
                padding-top: 8px;
                height: 30px;
                font-size: 11px;
            }
            &:hover {
                font-size: 11px;
            }
        }
    }
}